.venv/
__pycache__/
*.py[cod]
*.log
logs/
.DS_Store
Thumbs.db
.env
*.env
data/
!data/input/agenteAI_planilha.xlsx
webdriver/**/*.exe
webdriver/**/Driver_Notes/
requirements.txt
*.sqlite3
*.db
*.bak
*.swp
.vscode/
*.coverage
htmlcov/